menu "peripheral libraries and drivers"

source "$PKGS_DIR/custom_packages/peripherals/st7735r_tft/Kconfig"
source "$PKGS_DIR/custom_packages/peripherals/sensors/mt9v034_camera/Kconfig"
source "$PKGS_DIR/custom_packages/peripherals/soft_i2c/Kconfig"
source "$PKGS_DIR/custom_packages/peripherals/xpt2046_touch/Kconfig"

endmenu
